<div data-role="page">
  <div data-role="header" data-position="inline">
    <h1>Text Search</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="back" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>> Back </a>
	</div>

  <div id="content" class="ui-content">
    <form action = "values">
      <p>Enter the values you want to search for:</p>    
      
      <% @hash.each_pair do |name, value| %>
        <div data-role="fieldcontain">
          <label for="engine[<%= name %>]" class="fieldLabel ui-input-text"><%= name %>:</label>
          <input type="text" id="engine[<%= name %>]" name="engine[<%= name %>]" <%= placeholder( "Name" ) %> />
        </div>
      <% end %>

      <input type="submit" class="standardButton" value="Search" />
    </form>   
	</div>
</div>